/* 
   ##############################
    ###  STYLESHEET LAYOUT    ###
    #############################


    Document   : main.css
    Created on : March 21, 2013
    Author     : Dylan A Burkey - http://dylanburkey.com;
    Description: The styles below are provided for use with "Basis" - an HTML5/CSS3 Framework that uses Flexbox to create mobile ready,
    responsive layouts. 
   


*/

/* 

******
The BASIS Framework is a responsive, mobile ready foundation based on using Flexbox for the template structre. 

*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* ------------------------- Backgrounds */
/*body {background:url("../images/im_bg.gif") left top repeat;}*/

/* ------------------------- Generic */
body {
    /*color:#ffffff;*/
    color: #444;
    line-height: 1.4;
    font-family: ;



}
.clear {clear:both;}
img { /* Needed for mobile */
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

/* ------------------------- Typography */
strong {font-weight:bold;}
p {}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
address {}
pre, code {font-family: monospace;}

/* Links */
a, a:visited, a:active {}
a:hover {}

/* ------------------------- Forms */
input {}
select {}
label {}

/* ------------------------- Lists */

/* ------------------------- Layout */

/* ------------------------- Popups */

/* ------------------------- Media Queries */
 
/* ---------------------------------------------------------------------------- */
/* MEDIA QUERIES -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px)
and (max-width : 480px) {
    /* Styles */

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 481px)
and (max-width : 768px) {
    /* Styles */

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 769px) 
and (max-width : 1024px) {
    /* Styles */

}

/* Larger screens ----------- */
@media only screen 
and (min-width : 1024px) {
    /* Styles */

}