Flexbox Framework dubbed "Basis". All layouts are structured using Flexbox and feature rich semantic HTML5 markup. Basis is only in Alpha and is a project I have put six months in to planning and preparing for development.

I appreciate any feedback you have to offer. Please contact me at dylanburkey@gmail.com or dylanburkey@outlook.com for any questions.